/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,900&display=swap");
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1, .h1 {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

h2, .h2 {
  font-size: clamp(1.75rem, 3vw, 2rem);
}

h3, .h3 {
  font-size: clamp(1.5rem, 3vw, 1.5rem);
}

h4, .h4 {
  font-size: clamp(1rem, 2.25vw, 1.25rem);
}

h5, .h5 {
  font-size: clamp(0.9rem, 2.15vw, 1rem);
}

h6, .h6 {
  font-size: clamp(0.75rem, 2vw, 0.8rem);
}

p {
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 150%;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

b,
strong {
  font-weight: bolder;
}

label {
  line-height: 2;
}

small, .small {
  font-size: 0.875em;
}

a {
  color: var(--info-color);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: var(--info-color);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

hr {
  height: 0 !important;
  opacity: .6;
  border: 1px solid initial !important;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

:root {
  --primary-color: hsl(238, 38%, 46%);
  --light-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(217, 15%, 83%);
  --success-color: hsl(165, 58%, 55%);
  --info-color: hsl(214, 79%, 65%);
  --warning-color: hsl(43, 87%, 57%);
  --danger-color: hsl(354, 81%, 63%);
  --dark-color: hsl(210, 10%, 23%);
  --primary-color-darker: hsl(196, 68%, 54%);
  --secondary-color-darker: hsl(215, 13%, 70%);
  --success-color-darker: hsl(165, 55%, 48%);
  --info-color-darker: hsl(214, 68%, 58%);
  --warning-color-darker: hsl(39, 97%, 62%);
  --danger-color-darker: hsl(354, 67%, 56%);
  --primary-color-lighter: hsl(196, 78%, 81%);
  --secondary-color-lighter: hsl(214, 16%, 92%);
  --success-color-lighter: hsl(165, 58%, 75%);
  --info-color-lighter: hsl(214, 79%, 85%);
  --warning-color-lighter: hsl(43, 100%, 86%);
  --danger-color-lighter: hsl(354, 81%, 83%);
  --secondary-color-darkest: hsl(215, 11%, 30%);
  --secondary-color-lightest: hsl(220, 1%, 98%);
  --e-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --e-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --e-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --e-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --e-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --e-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --e-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --e-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --e-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --e-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --e-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --e-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --e-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --e-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --e-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --e-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --e-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --e-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --font-montserrat: "montserrat", "Roboto", "Open Sans", sans serif;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.bg_primary {
  background: var(--primary-color);
}

.bg_secondary {
  background: var(--secondary-color);
}

.bg_light {
  background: var(--light-color);
}

.bg_dark {
  background: var(--dark-color);
}

.bg_success {
  background: var(--success-color);
}

.bg_info {
  background: var(--info-color);
}

.bg_warning {
  background: var(--warning-color);
}

.bg_danger {
  background: var(--danger-color);
}

.color_primary {
  color: var(--primary-color);
}

.color_secondary {
  color: var(--secondary-color);
}

.color_light {
  color: var(--light-color);
}

.color_dark {
  color: var(--dark-color);
}

.color_success {
  color: var(--success-color);
}

.color_info {
  color: var(--info-color);
}

.color_warning {
  color: var(--warning-color);
}

.color_danger {
  color: var(--danger-color);
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

.ttu {
  text-transform: uppercase;
}

.ttc {
  text-transform: capitalize;
}

.ttl {
  text-transform: lowercase;
}

.p_a {
  position: absolute;
}

.p_r {
  position: relative;
}

.p_s {
  position: -webkit-sticky;
  position: sticky;
}

.p_f {
  position: fixed;
}

.t_0 {
  top: 0;
}

.t_50 {
  top: 50%;
}

.t_100 {
  top: 100%;
}

.b_0 {
  bottom: 0;
}

.b_50 {
  bottom: 50%;
}

.b_100 {
  bottom: 100%;
}

.l_0 {
  left: 0;
}

.l_50 {
  left: 50%;
}

.l_100 {
  left: 100%;
}

.r_0 {
  right: 0;
}

.r_50 {
  right: 50%;
}

.r_100 {
  right: 100% !important;
}

.tf_xy-50 {
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.tf_x {
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
}

.tf_y {
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}

.w_100 {
  width: 100%;
}

.w_75 {
  width: 75%;
}

.w_50 {
  width: 50%;
}

.w_33 {
  width: 33%;
}

.w_25 {
  width: 25%;
}

.h_100 {
  width: 100%;
}

.h_75 {
  width: 75%;
}

.h_50 {
  height: 50%;
}

.h_33 {
  height: 33%;
}

.h_25 {
  height: 25%;
}

.min_vh {
  min-height: 100vh;
}

.v_baseline {
  vertical-align: baseline !important;
}

.v_top {
  vertical-align: top !important;
}

.v_middle {
  vertical-align: middle !important;
}

.v_bottom {
  vertical-align: bottom !important;
}

.of_auto {
  overflow: auto;
}

.of_hidden {
  overflow: hidden;
}

.of_visible {
  overflow: visible;
}

.of_scroll {
  overflow: scroll;
}

.d_i {
  display: inline;
}

.d_ib {
  display: inline-block;
}

.d_b {
  display: block;
}

.d_g {
  display: -ms-grid;
  display: grid;
}

.d_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_none {
  display: none;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row, .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.g_center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

img.cover, .cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pointer {
  cursor: pointer;
}

.lstyle_none {
  list-style: none;
}

.lstyle_roman {
  list-style: lower-roman;
}

.lstyle_decimal {
  list-style: decimal;
}

/*
Table of content::
01. Table
*/
[class^='btn_'].sm {
  padding: .5rem 1rem;
}

a[class^='btn_'], [class^='btn_'] {
  display: inline-block;
  padding: .75rem 1.5rem;
  border-radius: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  border: 2px solid transparent;
  font-size: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.109);
          box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.109);
  line-height: 120%;
  color: var(--light-color);
  -webkit-transition: all 0.3s var(--e-out-quad);
  transition: all 0.3s var(--e-out-quad);
}

a[class^='btn_']:hover, a[class^='btn_']:active, a[class^='btn_']:focus, [class^='btn_']:hover, [class^='btn_']:active, [class^='btn_']:focus {
  opacity: .8;
}

[class^='btn_outline-'] {
  background: transparent;
}

[class^='btn_outline-']:hover, [class^='btn_outline-']:active, [class^='btn_outline-']:focus {
  color: inherit;
}

[class^='btn_'].lg {
  padding: 1rem 2.25rem;
}

.btn_primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
}

.btn_success {
  color: var(--light-color);
  border-color: var(--success-color);
  background: var(--success-color);
}

.btn_danger {
  color: var(--light-color);
  border-color: var(--danger-color);
  background: var(--danger-color);
}

.btn_warning {
  color: var(--light-color);
  border-color: var(--warning-color);
  background: var(--warning-color);
}

.btn_info {
  color: var(--light-color);
  border-color: var(--info-color);
  background: var(--info-color);
}

.btn_dark {
  color: var(--light-color);
  border-color: var(--dark-color);
  background: var(--dark-color);
}

.btn_light {
  color: var(--dark-color);
  border-color: var(--light-color);
  background: var(--light-color);
}

.btn_outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn_outline-success {
  border-color: var(--success-color);
  color: var(--success-color);
}

.btn_outline-danger {
  border-color: var(--danger-color);
  color: var(--danger-color);
}

.btn_outline-warning {
  border-color: var(--warning-color);
  color: var(--warning-color);
}

.btn_outline-info {
  border-color: var(--info-color);
  color: var(--info-color);
}

.btn_outline-dark {
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.btn_outline-light {
  border-color: var(--light-color);
  color: var(--dark-color);
}

.op_table {
  display: block;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.op_table tr {
  padding: 1rem;
}

.op_table tr td, .op_table tr th {
  border: rgba(170, 170, 170, 0.61) 1px solid;
  padding: 8px;
  text-align: inherit;
  text-align: -webkit-match-parent;
}

.mark, mark {
  background: var(--dark-color);
  color: var(--light-color);
  padding: .3rem;
  border-radius: .3rem;
  display: inline-block;
}

input, textarea, select {
  outline: 0;
  height: 2.5rem;
  padding: 0 1rem;
  display: block;
  width: 100%;
  border-radius: .5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #dbdde0;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: vertical;
  padding: 1rem;
  height: auto;
}

select, button {
  text-transform: none;
}

select::marker {
  color: #000;
  opacity: 1;
  display: block;
  visibility: visible;
}

.op_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.op_card .card_img img {
  width: 100%;
}

.op_card .card_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card {
  padding: .875rem;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.nav_bar {
  width: 100%;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.09);
  padding: 1rem 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  z-index: 999;
}

.nav_bar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.scrolled-down {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*-------Toggler
*/
.nav_toggler {
  display: none;
  cursor: pointer;
}

/*-------Navicon
*/
.nav_icon {
  background: url("https://img.icons8.com/ios/72/menu--v1.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
}

.nav_toggler.close .nav_icon {
  background: url("https://img.icons8.com/fluent-systems-regular/2x/delete-sign.png") no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.navigation .menu .nav_item {
  text-align: center;
}

.navigation .menu .nav_item .nav_link {
  padding: .6rem 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.726);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
}

.navigation .menu .nav_item .nav_link:hover {
  color: #000;
}

@media (max-width: 991px) {
  .nav_toggler {
    display: block;
  }
  .navigation {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: 0;
  }
  .navigation .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation .menu .nav_item {
    line-height: 2;
  }
  .navigation.active {
    overflow: visible;
    height: 100%;
  }
}

/*
 * SimpleBar.js - v5.3.3
 * https://grsmto.github.io/simplebar/
 */
body {
  overflow: auto;
  height: 100vh;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar, .simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:after, .simplebar-content:before {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 82.5rem;
  width: 100%;
}

.container_full {
  padding: 0 1.25rem;
  margin: 0 auto;
  width: 100%;
}

.o_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem;
}

.o_grid > [class*="col_"] {
  margin: 0;
  max-width: 100%;
}

.col_xs-1 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
}

.col_xs-2 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.col_xs-3 {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

.col_xs-4 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.col_xs-5 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
}

.col_xs-6 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
}

.col_xs-7 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -ms-grid-column-span: 7;
      grid-column-end: span 7;
}

.col_xs-8 {
  -ms-grid-column: span 8;
      grid-column-start: span 8;
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.col_xs-9 {
  -ms-grid-column: span 9;
      grid-column-start: span 9;
  -ms-grid-column-span: 9;
      grid-column-end: span 9;
}

.col_xs-10 {
  -ms-grid-column: span 10;
      grid-column-start: span 10;
  -ms-grid-column-span: 10;
      grid-column-end: span 10;
}

.col_xs-11 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
  -ms-grid-column-span: 11;
      grid-column-end: span 11;
}

.col_xs-12 {
  -ms-grid-column: span 12;
      grid-column-start: span 12;
  -ms-grid-column-span: 12;
      grid-column-end: span 12;
}

@media (min-width: 48rem) {
  .col_sm-1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .col_sm-2 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .col_sm-3 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .col_sm-4 {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .col_sm-5 {
    -ms-grid-column: span 5;
        grid-column-start: span 5;
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .col_sm-6 {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .col_sm-7 {
    -ms-grid-column: span 7;
        grid-column-start: span 7;
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .col_sm-8 {
    -ms-grid-column: span 8;
        grid-column-start: span 8;
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .col_sm-9 {
    -ms-grid-column: span 9;
        grid-column-start: span 9;
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .col_sm-10 {
    -ms-grid-column: span 10;
        grid-column-start: span 10;
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .col_sm-11 {
    -ms-grid-column: span 11;
        grid-column-start: span 11;
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .col_sm-12 {
    -ms-grid-column: span 12;
        grid-column-start: span 12;
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

@media (min-width: 62rem) {
  .col_md-1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .col_md-2 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .col_md-3 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .col_md-4 {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .col_md-5 {
    -ms-grid-column: span 5;
        grid-column-start: span 5;
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .col_md-6 {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .col_md-7 {
    -ms-grid-column: span 7;
        grid-column-start: span 7;
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .col_md-8 {
    -ms-grid-column: span 8;
        grid-column-start: span 8;
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .col_md-9 {
    -ms-grid-column: span 9;
        grid-column-start: span 9;
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .col_md-10 {
    -ms-grid-column: span 10;
        grid-column-start: span 10;
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .col_md-11 {
    -ms-grid-column: span 11;
        grid-column-start: span 11;
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .col_md-12 {
    -ms-grid-column: span 12;
        grid-column-start: span 12;
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

@media (min-width: 75rem) {
  .col_lg-1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .col_lg-2 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .col_lg-3 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .col_lg-4 {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .col_lg-5 {
    -ms-grid-column: span 5;
        grid-column-start: span 5;
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .col_lg-6 {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .col_lg-7 {
    -ms-grid-column: span 7;
        grid-column-start: span 7;
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .col_lg-8 {
    -ms-grid-column: span 8;
        grid-column-start: span 8;
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .col_lg-9 {
    -ms-grid-column: span 9;
        grid-column-start: span 9;
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .col_lg-10 {
    -ms-grid-column: span 10;
        grid-column-start: span 10;
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .col_lg-11 {
    -ms-grid-column: span 11;
        grid-column-start: span 11;
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .col_lg-12 {
    -ms-grid-column: span 12;
        grid-column-start: span 12;
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

.order_0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.g_0 {
  gap: calc(0rem/4);
}

.rounded_0 {
  border-radius: calc(0rem/4);
}

.op_0 {
  opacity: 0;
}

.fw_0 {
  font-weight: calc(0*100);
}

.z_0 {
  z-index: calc(0*100);
}

.order_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.g_1 {
  gap: calc(1rem/4);
}

.rounded_1 {
  border-radius: calc(1rem/4);
}

.op_1 {
  opacity: 1;
}

.fw_1 {
  font-weight: calc(1*100);
}

.z_1 {
  z-index: calc(1*100);
}

.order_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.g_2 {
  gap: calc(2rem/4);
}

.rounded_2 {
  border-radius: calc(2rem/4);
}

.op_2 {
  opacity: 2;
}

.fw_2 {
  font-weight: calc(2*100);
}

.z_2 {
  z-index: calc(2*100);
}

.order_3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.g_3 {
  gap: calc(3rem/4);
}

.rounded_3 {
  border-radius: calc(3rem/4);
}

.op_3 {
  opacity: 3;
}

.fw_3 {
  font-weight: calc(3*100);
}

.z_3 {
  z-index: calc(3*100);
}

.order_4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.g_4 {
  gap: calc(4rem/4);
}

.rounded_4 {
  border-radius: calc(4rem/4);
}

.op_4 {
  opacity: 4;
}

.fw_4 {
  font-weight: calc(4*100);
}

.z_4 {
  z-index: calc(4*100);
}

.order_5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.g_5 {
  gap: calc(5rem/4);
}

.rounded_5 {
  border-radius: calc(5rem/4);
}

.op_5 {
  opacity: 5;
}

.fw_5 {
  font-weight: calc(5*100);
}

.z_5 {
  z-index: calc(5*100);
}

.order_6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.g_6 {
  gap: calc(6rem/4);
}

.rounded_6 {
  border-radius: calc(6rem/4);
}

.op_6 {
  opacity: 6;
}

.fw_6 {
  font-weight: calc(6*100);
}

.z_6 {
  z-index: calc(6*100);
}

.order_7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.g_7 {
  gap: calc(7rem/4);
}

.rounded_7 {
  border-radius: calc(7rem/4);
}

.op_7 {
  opacity: 7;
}

.fw_7 {
  font-weight: calc(7*100);
}

.z_7 {
  z-index: calc(7*100);
}

.order_8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.g_8 {
  gap: calc(8rem/4);
}

.rounded_8 {
  border-radius: calc(8rem/4);
}

.op_8 {
  opacity: 8;
}

.fw_8 {
  font-weight: calc(8*100);
}

.z_8 {
  z-index: calc(8*100);
}

.order_9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.g_9 {
  gap: calc(9rem/4);
}

.rounded_9 {
  border-radius: calc(9rem/4);
}

.op_9 {
  opacity: 9;
}

.fw_9 {
  font-weight: calc(9*100);
}

.z_9 {
  z-index: calc(9*100);
}

.order_10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.g_10 {
  gap: calc(10rem/4);
}

.rounded_10 {
  border-radius: calc(10rem/4);
}

.op_10 {
  opacity: 10;
}

.fw_10 {
  font-weight: calc(10*100);
}

.z_10 {
  z-index: calc(10*100);
}

.order_11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.g_11 {
  gap: calc(11rem/4);
}

.rounded_11 {
  border-radius: calc(11rem/4);
}

.op_11 {
  opacity: 11;
}

.fw_11 {
  font-weight: calc(11*100);
}

.z_11 {
  z-index: calc(11*100);
}

.order_12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.g_12 {
  gap: calc(12rem/4);
}

.rounded_12 {
  border-radius: calc(12rem/4);
}

.op_12 {
  opacity: 12;
}

.fw_12 {
  font-weight: calc(12*100);
}

.z_12 {
  z-index: calc(12*100);
}

@media (min-width: 48rem) {
  .g_sm-1 {
    gap: calc(1rem/4);
  }
  .g_sm-2 {
    gap: calc(2rem/4);
  }
  .g_sm-3 {
    gap: calc(3rem/4);
  }
  .g_sm-4 {
    gap: calc(4rem/4);
  }
  .g_sm-5 {
    gap: calc(5rem/4);
  }
  .g_sm-6 {
    gap: calc(6rem/4);
  }
  .g_sm-7 {
    gap: calc(7rem/4);
  }
  .g_sm-8 {
    gap: calc(8rem/4);
  }
  .g_sm-9 {
    gap: calc(9rem/4);
  }
  .g_sm-10 {
    gap: calc(10rem/4);
  }
  .g_sm-11 {
    gap: calc(11rem/4);
  }
  .g_sm-12 {
    gap: calc(12rem/4);
  }
}

@media (min-width: 62rem) {
  .g_md-1 {
    gap: calc(1rem/4);
  }
  .g_md-2 {
    gap: calc(2rem/4);
  }
  .g_md-3 {
    gap: calc(3rem/4);
  }
  .g_md-4 {
    gap: calc(4rem/4);
  }
  .g_md-5 {
    gap: calc(5rem/4);
  }
  .g_md-6 {
    gap: calc(6rem/4);
  }
  .g_md-7 {
    gap: calc(7rem/4);
  }
  .g_md-8 {
    gap: calc(8rem/4);
  }
  .g_md-9 {
    gap: calc(9rem/4);
  }
  .g_md-10 {
    gap: calc(10rem/4);
  }
  .g_md-11 {
    gap: calc(11rem/4);
  }
  .g_md-12 {
    gap: calc(12rem/4);
  }
}

@media (min-width: 75rem) {
  .g_lg-1 {
    gap: calc(1rem/4);
  }
  .g_lg-2 {
    gap: calc(2rem/4);
  }
  .g_lg-3 {
    gap: calc(3rem/4);
  }
  .g_lg-4 {
    gap: calc(4rem/4);
  }
  .g_lg-5 {
    gap: calc(5rem/4);
  }
  .g_lg-6 {
    gap: calc(6rem/4);
  }
  .g_lg-7 {
    gap: calc(7rem/4);
  }
  .g_lg-8 {
    gap: calc(8rem/4);
  }
  .g_lg-9 {
    gap: calc(9rem/4);
  }
  .g_lg-10 {
    gap: calc(10rem/4);
  }
  .g_lg-11 {
    gap: calc(11rem/4);
  }
  .g_lg-12 {
    gap: calc(12rem/4);
  }
}

.ac_start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.ac_center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.ac_end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.ac_between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.ac_around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.ac_str {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.ai_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai_str {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.as_start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.as_center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.as_end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.as_str {
  -ms-flex-item-align: stretch !important;
      -ms-grid-row-align: stretch !important;
      align-self: stretch !important;
}

.jc_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc_even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jc_str {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.ji_start {
  justify-items: flex-start;
}

.ji_center {
  justify-items: center;
}

.ji_end {
  justify-items: flex-end;
}

.ji_between {
  justify-items: space-between;
}

.ji_around {
  justify-items: space-around;
}

.ji_even {
  justify-items: space-evenly;
}

.ji_str {
  justify-items: stretch;
}

.js_start {
  justify-self: flex-start;
}

.js_center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.js_end {
  justify-self: flex-end;
}

.js_between {
  -ms-grid-column-align: space-between;
      justify-self: space-between;
}

.js_around {
  -ms-grid-column-align: space-around;
      justify-self: space-around;
}

.js_even {
  -ms-grid-column-align: space-evenly;
      justify-self: space-evenly;
}

.js_str {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.p_0 {
  padding: 0;
}

.p_1 {
  padding: calc(1rem/2);
}

.pt_1 {
  padding-top: calc(1rem/2);
}

.pb_1 {
  padding-bottom: calc(1rem/2);
}

.pl_1 {
  padding-left: calc(1rem/2);
}

.pr_1 {
  padding-right: calc(1rem/2);
}

.px_1 {
  padding-left: calc(1rem/2);
  padding-right: calc(1rem/2);
}

.py_1 {
  padding-top: calc(1rem/2);
  padding-bottom: calc(1rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_1 {
  margin: calc(1rem/2);
}

.mt_1 {
  margin-top: calc(1rem/2);
}

.mb_1 {
  margin-bottom: calc(1rem/2);
}

.ml_1 {
  margin-left: calc(1rem/2);
}

.mr_1 {
  margin-right: calc(1rem/2);
}

.mx_1 {
  margin-left: calc(1rem/2);
  margin-right: calc(1rem/2);
}

.my_1 {
  margin-top: calc(1rem/2);
  margin-bottom: calc(1rem/2);
}

.p_0 {
  padding: 0;
}

.p_2 {
  padding: calc(2rem/2);
}

.pt_2 {
  padding-top: calc(2rem/2);
}

.pb_2 {
  padding-bottom: calc(2rem/2);
}

.pl_2 {
  padding-left: calc(2rem/2);
}

.pr_2 {
  padding-right: calc(2rem/2);
}

.px_2 {
  padding-left: calc(2rem/2);
  padding-right: calc(2rem/2);
}

.py_2 {
  padding-top: calc(2rem/2);
  padding-bottom: calc(2rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_2 {
  margin: calc(2rem/2);
}

.mt_2 {
  margin-top: calc(2rem/2);
}

.mb_2 {
  margin-bottom: calc(2rem/2);
}

.ml_2 {
  margin-left: calc(2rem/2);
}

.mr_2 {
  margin-right: calc(2rem/2);
}

.mx_2 {
  margin-left: calc(2rem/2);
  margin-right: calc(2rem/2);
}

.my_2 {
  margin-top: calc(2rem/2);
  margin-bottom: calc(2rem/2);
}

.p_0 {
  padding: 0;
}

.p_3 {
  padding: calc(3rem/2);
}

.pt_3 {
  padding-top: calc(3rem/2);
}

.pb_3 {
  padding-bottom: calc(3rem/2);
}

.pl_3 {
  padding-left: calc(3rem/2);
}

.pr_3 {
  padding-right: calc(3rem/2);
}

.px_3 {
  padding-left: calc(3rem/2);
  padding-right: calc(3rem/2);
}

.py_3 {
  padding-top: calc(3rem/2);
  padding-bottom: calc(3rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_3 {
  margin: calc(3rem/2);
}

.mt_3 {
  margin-top: calc(3rem/2);
}

.mb_3 {
  margin-bottom: calc(3rem/2);
}

.ml_3 {
  margin-left: calc(3rem/2);
}

.mr_3 {
  margin-right: calc(3rem/2);
}

.mx_3 {
  margin-left: calc(3rem/2);
  margin-right: calc(3rem/2);
}

.my_3 {
  margin-top: calc(3rem/2);
  margin-bottom: calc(3rem/2);
}

.p_0 {
  padding: 0;
}

.p_4 {
  padding: calc(4rem/2);
}

.pt_4 {
  padding-top: calc(4rem/2);
}

.pb_4 {
  padding-bottom: calc(4rem/2);
}

.pl_4 {
  padding-left: calc(4rem/2);
}

.pr_4 {
  padding-right: calc(4rem/2);
}

.px_4 {
  padding-left: calc(4rem/2);
  padding-right: calc(4rem/2);
}

.py_4 {
  padding-top: calc(4rem/2);
  padding-bottom: calc(4rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_4 {
  margin: calc(4rem/2);
}

.mt_4 {
  margin-top: calc(4rem/2);
}

.mb_4 {
  margin-bottom: calc(4rem/2);
}

.ml_4 {
  margin-left: calc(4rem/2);
}

.mr_4 {
  margin-right: calc(4rem/2);
}

.mx_4 {
  margin-left: calc(4rem/2);
  margin-right: calc(4rem/2);
}

.my_4 {
  margin-top: calc(4rem/2);
  margin-bottom: calc(4rem/2);
}

.p_0 {
  padding: 0;
}

.p_5 {
  padding: calc(5rem/2);
}

.pt_5 {
  padding-top: calc(5rem/2);
}

.pb_5 {
  padding-bottom: calc(5rem/2);
}

.pl_5 {
  padding-left: calc(5rem/2);
}

.pr_5 {
  padding-right: calc(5rem/2);
}

.px_5 {
  padding-left: calc(5rem/2);
  padding-right: calc(5rem/2);
}

.py_5 {
  padding-top: calc(5rem/2);
  padding-bottom: calc(5rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_5 {
  margin: calc(5rem/2);
}

.mt_5 {
  margin-top: calc(5rem/2);
}

.mb_5 {
  margin-bottom: calc(5rem/2);
}

.ml_5 {
  margin-left: calc(5rem/2);
}

.mr_5 {
  margin-right: calc(5rem/2);
}

.mx_5 {
  margin-left: calc(5rem/2);
  margin-right: calc(5rem/2);
}

.my_5 {
  margin-top: calc(5rem/2);
  margin-bottom: calc(5rem/2);
}

.p_0 {
  padding: 0;
}

.p_6 {
  padding: calc(6rem/2);
}

.pt_6 {
  padding-top: calc(6rem/2);
}

.pb_6 {
  padding-bottom: calc(6rem/2);
}

.pl_6 {
  padding-left: calc(6rem/2);
}

.pr_6 {
  padding-right: calc(6rem/2);
}

.px_6 {
  padding-left: calc(6rem/2);
  padding-right: calc(6rem/2);
}

.py_6 {
  padding-top: calc(6rem/2);
  padding-bottom: calc(6rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_6 {
  margin: calc(6rem/2);
}

.mt_6 {
  margin-top: calc(6rem/2);
}

.mb_6 {
  margin-bottom: calc(6rem/2);
}

.ml_6 {
  margin-left: calc(6rem/2);
}

.mr_6 {
  margin-right: calc(6rem/2);
}

.mx_6 {
  margin-left: calc(6rem/2);
  margin-right: calc(6rem/2);
}

.my_6 {
  margin-top: calc(6rem/2);
  margin-bottom: calc(6rem/2);
}

.p_0 {
  padding: 0;
}

.p_7 {
  padding: calc(7rem/2);
}

.pt_7 {
  padding-top: calc(7rem/2);
}

.pb_7 {
  padding-bottom: calc(7rem/2);
}

.pl_7 {
  padding-left: calc(7rem/2);
}

.pr_7 {
  padding-right: calc(7rem/2);
}

.px_7 {
  padding-left: calc(7rem/2);
  padding-right: calc(7rem/2);
}

.py_7 {
  padding-top: calc(7rem/2);
  padding-bottom: calc(7rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_7 {
  margin: calc(7rem/2);
}

.mt_7 {
  margin-top: calc(7rem/2);
}

.mb_7 {
  margin-bottom: calc(7rem/2);
}

.ml_7 {
  margin-left: calc(7rem/2);
}

.mr_7 {
  margin-right: calc(7rem/2);
}

.mx_7 {
  margin-left: calc(7rem/2);
  margin-right: calc(7rem/2);
}

.my_7 {
  margin-top: calc(7rem/2);
  margin-bottom: calc(7rem/2);
}

.p_0 {
  padding: 0;
}

.p_8 {
  padding: calc(8rem/2);
}

.pt_8 {
  padding-top: calc(8rem/2);
}

.pb_8 {
  padding-bottom: calc(8rem/2);
}

.pl_8 {
  padding-left: calc(8rem/2);
}

.pr_8 {
  padding-right: calc(8rem/2);
}

.px_8 {
  padding-left: calc(8rem/2);
  padding-right: calc(8rem/2);
}

.py_8 {
  padding-top: calc(8rem/2);
  padding-bottom: calc(8rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_8 {
  margin: calc(8rem/2);
}

.mt_8 {
  margin-top: calc(8rem/2);
}

.mb_8 {
  margin-bottom: calc(8rem/2);
}

.ml_8 {
  margin-left: calc(8rem/2);
}

.mr_8 {
  margin-right: calc(8rem/2);
}

.mx_8 {
  margin-left: calc(8rem/2);
  margin-right: calc(8rem/2);
}

.my_8 {
  margin-top: calc(8rem/2);
  margin-bottom: calc(8rem/2);
}

.p_0 {
  padding: 0;
}

.p_9 {
  padding: calc(9rem/2);
}

.pt_9 {
  padding-top: calc(9rem/2);
}

.pb_9 {
  padding-bottom: calc(9rem/2);
}

.pl_9 {
  padding-left: calc(9rem/2);
}

.pr_9 {
  padding-right: calc(9rem/2);
}

.px_9 {
  padding-left: calc(9rem/2);
  padding-right: calc(9rem/2);
}

.py_9 {
  padding-top: calc(9rem/2);
  padding-bottom: calc(9rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_9 {
  margin: calc(9rem/2);
}

.mt_9 {
  margin-top: calc(9rem/2);
}

.mb_9 {
  margin-bottom: calc(9rem/2);
}

.ml_9 {
  margin-left: calc(9rem/2);
}

.mr_9 {
  margin-right: calc(9rem/2);
}

.mx_9 {
  margin-left: calc(9rem/2);
  margin-right: calc(9rem/2);
}

.my_9 {
  margin-top: calc(9rem/2);
  margin-bottom: calc(9rem/2);
}

.p_0 {
  padding: 0;
}

.p_10 {
  padding: calc(10rem/2);
}

.pt_10 {
  padding-top: calc(10rem/2);
}

.pb_10 {
  padding-bottom: calc(10rem/2);
}

.pl_10 {
  padding-left: calc(10rem/2);
}

.pr_10 {
  padding-right: calc(10rem/2);
}

.px_10 {
  padding-left: calc(10rem/2);
  padding-right: calc(10rem/2);
}

.py_10 {
  padding-top: calc(10rem/2);
  padding-bottom: calc(10rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_10 {
  margin: calc(10rem/2);
}

.mt_10 {
  margin-top: calc(10rem/2);
}

.mb_10 {
  margin-bottom: calc(10rem/2);
}

.ml_10 {
  margin-left: calc(10rem/2);
}

.mr_10 {
  margin-right: calc(10rem/2);
}

.mx_10 {
  margin-left: calc(10rem/2);
  margin-right: calc(10rem/2);
}

.my_10 {
  margin-top: calc(10rem/2);
  margin-bottom: calc(10rem/2);
}

.p_0 {
  padding: 0;
}

.p_11 {
  padding: calc(11rem/2);
}

.pt_11 {
  padding-top: calc(11rem/2);
}

.pb_11 {
  padding-bottom: calc(11rem/2);
}

.pl_11 {
  padding-left: calc(11rem/2);
}

.pr_11 {
  padding-right: calc(11rem/2);
}

.px_11 {
  padding-left: calc(11rem/2);
  padding-right: calc(11rem/2);
}

.py_11 {
  padding-top: calc(11rem/2);
  padding-bottom: calc(11rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_11 {
  margin: calc(11rem/2);
}

.mt_11 {
  margin-top: calc(11rem/2);
}

.mb_11 {
  margin-bottom: calc(11rem/2);
}

.ml_11 {
  margin-left: calc(11rem/2);
}

.mr_11 {
  margin-right: calc(11rem/2);
}

.mx_11 {
  margin-left: calc(11rem/2);
  margin-right: calc(11rem/2);
}

.my_11 {
  margin-top: calc(11rem/2);
  margin-bottom: calc(11rem/2);
}

.p_0 {
  padding: 0;
}

.p_12 {
  padding: calc(12rem/2);
}

.pt_12 {
  padding-top: calc(12rem/2);
}

.pb_12 {
  padding-bottom: calc(12rem/2);
}

.pl_12 {
  padding-left: calc(12rem/2);
}

.pr_12 {
  padding-right: calc(12rem/2);
}

.px_12 {
  padding-left: calc(12rem/2);
  padding-right: calc(12rem/2);
}

.py_12 {
  padding-top: calc(12rem/2);
  padding-bottom: calc(12rem/2);
}

.m_0 {
  margin: 0;
}

.mx_auto {
  margin: 0 auto;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_12 {
  margin: calc(12rem/2);
}

.mt_12 {
  margin-top: calc(12rem/2);
}

.mb_12 {
  margin-bottom: calc(12rem/2);
}

.ml_12 {
  margin-left: calc(12rem/2);
}

.mr_12 {
  margin-right: calc(12rem/2);
}

.mx_12 {
  margin-left: calc(12rem/2);
  margin-right: calc(12rem/2);
}

.my_12 {
  margin-top: calc(12rem/2);
  margin-bottom: calc(12rem/2);
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  line-height: 1.8;
}

footer ul li a {
  color: var(--dark-color);
  text-decoration: none;
  opacity: .8;
  font-size: 1.05rem;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: .4rem;
  background: rgba(0, 0, 0, 0.207);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.507);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.icon {
  height: 55px;
  width: 55px;
  font-size: 1.5rem;
  color: var(--light-color);
  border-radius: .175rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.details {
  padding: 1.2rem 0 0 0;
}

.copy_btn {
  color: var(--success-color);
  font-size: 1.2rem;
  cursor: crosshair;
}

.sticktotop {
  position: -webkit-sticky;
  position: sticky;
  top: 14%;
  left: 0;
}

a {
  text-decoration: none;
}

.title {
  padding: .875rem 0 0 0;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.title a {
  opacity: .8;
}

.title a:hover {
  opacity: 1;
}

code {
  font-size: 1rem;
}

pre {
  border-radius: 10px;
}

.card {
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.tabcontent {
  display: none;
  padding-left: .875rem;
  padding-right: .875rem;
  -webkit-box-shadow: 0 8px 24px #e0dddd;
          box-shadow: 0 8px 24px #e0dddd;
  -webkit-animation: fadeEffect .51s;
          animation: fadeEffect .51s;
}

.widget_tab {
  padding: .875rem;
  border-radius: .5rem;
  color: var(--light);
}

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.open {
  display: block;
}

.side_bar {
  position: relative;
}

.side_bar .side_bar-main {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
}

.border > div {
  border: 2px solid #d2d8ec;
  padding: 2rem;
  text-align: center;
}

mark {
  margin: .25rem 0;
}

.side_bar-nav {
  list-style: none;
}

.side_bar-nav .doc_link {
  font-size: .9rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.685);
  padding: .4rem;
  border-left: 3px solid transparent;
  margin: .3rem 0;
  -webkit-transition: border .3s;
  transition: border .3s;
  display: inline-block;
  cursor: pointer;
}

.side_bar-nav .doc_link.active, .side_bar-nav .doc_link:hover {
  border-left: 3px solid var(--success-color);
}

.button_group > * {
  margin: .25rem;
}

.modal {
  width: 470px;
  max-width: 100%;
  position: fixed;
  right: 2%;
  bottom: 2%;
  padding: 1rem;
  border-radius: .4rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  background: rgba(253, 253, 253, 0.041);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.modal input, .modal textarea {
  background: rgba(255, 255, 255, 0.589);
}

.modal input::-webkit-input-placeholder, .modal textarea::-webkit-input-placeholder {
  color: var(--dark-color);
}

.modal input:-ms-input-placeholder, .modal textarea:-ms-input-placeholder {
  color: var(--dark-color);
}

.modal input::-ms-input-placeholder, .modal textarea::-ms-input-placeholder {
  color: var(--dark-color);
}

.modal input::placeholder, .modal textarea::placeholder {
  color: var(--dark-color);
}
/*# sourceMappingURL=main.css.map */